body {
  margin: 0;
}

/* --------------------------------- */
.ani-text {
  text-align: center;
}

.ani-text:hover {
  animation-name: 왔다갔다;
  animation-duration: 1s;
}

.ani-btn {
  padding: 15px 20px;
  font-size: 20px;
  background: skyblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 30px auto;
}
.ani-btn:hover {
  animation-name: shake;
  animation-duration: 1s;
}
.ani-x {
  margin: auto;
  text-align: center;
  font-size: 70px;
  width: 84px;
  cursor: pointer;
}
.ani-x:hover {
  animation: turn 1s;
  animation-fill-mode: forwards;
}

.ani-navbar {
  width: 200px;
  background: #000;
  color: #fff;
  height: 100%;
  padding: 25px;
  position: fixed;
  z-index: 5;
  text-align: right;
  transform: translateX(-150px);
  transition: all 1s;
}
.ani-navbar:hover {
  transform: translateX(0px);
  text-align: center;
}
.ani-navbar p {
  text-align: center;
}
.ani-navbar:hover p {
  animation: slide 1s;
}

@keyframes 왔다갔다 {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-100px);
  }
  66% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
    scale: (1.5);
  }
}
@keyframes slide {
  0% {
    transform: translateX(-250px);
  }
  50% {
    transform: translateX(20px) skewX(-30deg);
  }
  100% {
    transform: translateX(0px);
  }
}
/* -------------------------------------- */
/* grid.html */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-areas: 
  "헤더 헤더 헤더 헤더"
  "사이드 . . ."
  "사이드 . . ."
  ;
}

.grid-nav {
  /* 1~4까지 차지하기 */
  grid-column: 1/4; 
  grid-area: 헤더;
}
.grid-sidebar {
  grid-row:  2/4;
  grid-area: 사이드;
}
.grid-container div {
  border: 1px solid #000;
}

/* -------------------------------------- */
/* sticky.html */
.grey{
  background: lightgrey;
  height: 2000px;
  margin-top: 500px;
}

.image {
  float: right;
  width: 400px;
  position: sticky;
  top: 100px;
  right: 100px;
}

.text {
  float: left;
  width: 300px;
  margin: 100px;
}